USE [master]
GO
/****** Object:  Database [Baza]    Script Date: 21-Dec-18 6:20:51 PM ******/
CREATE DATABASE [Baza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Baza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baza.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Baza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baza_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baza]
GO
/****** Object:  Table [dbo].[Obrasac]    Script Date: 21-Dec-18 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obrasac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NazivSkole] [nvarchar](50) NULL,
	[AdresaReg] [nvarchar](50) NULL,
	[Opstina] [nvarchar](20) NULL,
	[PostaBr] [int] NULL,
	[MatBrSkole] [numeric](18, 0) NULL,
	[PIB] [numeric](18, 0) NULL,
	[BrojRacuna] [numeric](18, 0) NULL,
	[Web] [nvarchar](50) NULL,
	[Ime] [nvarchar](50) NULL,
	[Prezime] [nvarchar](50) NULL,
	[RadnoMes] [nvarchar](50) NULL,
	[VrstaTel] [nvarchar](50) NULL,
	[BrTel] [numeric](18, 0) NULL,
	[Lokal] [int] NULL,
	[VrstaEmail] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[FotoPecat] [image] NULL,
	[Beleske] [nvarchar](max) NULL,
	[KorisnikTip] [nvarchar](50) NULL,
	[Korisnik] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Obrasac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiteUser]    Script Date: 21-Dec-18 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsValid] [bit] NULL,
	[TipKorisnika] [nvarchar](50) NULL,
 CONSTRAINT [PK_SiteUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
